<div class="container">
	<h2><%= @host.name %></h2>
	<ul>
		<% @host.shows.all.each do |show| %>
			<li><%= show.venue %> - <%= link_to "Delete", show, method: :delete %></li>
		<% end %>
	</ul>
	<%= link_to "Add Show", new_show_path %>
</div>