/*App colors*/
$otra-purple: #4e2b49;
$otra-lightpurple: #7d7187;
$otra-lightestpurple: #f6f2f9;
$otra-pink: #ff3d48;
$otra-lightpink: #ffa080;
$otra-offwhite: #f9f7dc;


body {
	background-color: $otra-offwhite;
}

hr{
   border: 1px solid $otra-purple;
}

.navbar {
	background-color: $otra-offwhite;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	font-family: 'modern_sansregular';
	text-transform: uppercase;
}

.navbar .nav > li > a {
	color: $otra-purple;
	&:hover, &:focus {
		color: $otra-lightpink;
	}
}

.navbar-default .navbar-brand {
	margin-top: 7px;
	font-size: 50px;
	color: $otra-purple;
	&:hover {
		color: $otra-lightpink;
	}
}

.navbar-default .navbar-nav > li > a {
	margin-top: 3px;
}

button.navbar-toggle.collapsed, button.navbar-toggle, .navbar-default .navbar-toggle {
	background-color: $otra-offwhite;
	border-color: #4e2b49;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: $otra-offwhite;
}

.dropdown-menu {
	background-color: $otra-lightpurple;
}

.dropdown-menu > li > a {
	color: $otra-purple;
}

/*homepage*/

.logo {
	height: 250px;
}

.logo-info {
	display: block;
	margin: 0 auto;
}

.tagline {
	font-size: 75px;
}

.image-labels {
	margin-left: 10px;
}

.welcome {
	margin-top: -20px;
	color: $otra-offwhite;
	background-color: $otra-purple;
	font-family: 'modern_sansregular';
	font-size: 25px;
}

.info {
	padding: 20px 0px 20px 20px;
	color: $otra-purple;
	font-family: 'modern_sansregular';
	font-size: 100px;
	line-height: 80%;
}

.info-header {
	margin-top: 30px;
	word-spacing: -32px;
}

.band-how-it-works {
	height: 600px;
	padding-top: 50px;
	padding-left: 40px;
	background-color: $otra-lightpink;
	color: $otra-purple;
	font-family: 'modern_sansregular';
	a {
		text-decoration: none;
		color: $otra-purple;
		&:hover {
			color: $otra-lightpurple;
		};
	};

}

.steps {
	margin-top: 40px;
	padding: 20px 10px 20px 20px;
	background-color: $otra-offwhite;
	border: 2px solid $otra-purple;
	color: $otra-purple;
	font-family: 'modern_sansregular'
}

a.down-arrow, , a#add, a#remove {
	text-decoration: none;
	color: $otra-purple;
}
a.down-arrow:visited, a#add:visited, a#remove:visited {
	color: $otra-purple;
}
a.down-arrow:hover, a#add:hover, a#remove:hover {
	color: $otra-lightpurple;
} 

a.band-signup, a.host-signup {
	color: $otra-offwhite;
}
/*forms*/

.headers {
	font-family: 'modern_sansregular';
	text-transform: uppercase;
	color: $otra-offwhite;
	background-color: $otra-purple;
	padding: 10px;
	margin-bottom: -30px;
}

.btn {
	border-radius: 0;
	font-family: 'modern_sansregular';
	background-color: $otra-purple;
	color: $otra-offwhite;
	border-radius: 0px;
	&:hover {
		background-color: $otra-lightpurple;
	};
}
.btn-primary {
	border-color: none;
}

input.form-control {
	border-radius: 0;
}

label {
	color: $otra-purple;
	font-family: 'modern_sansregular';
}

.form-title {
	background-color: $otra-purple;
	color: $otra-offwhite;
	font-family: 'modern_sansregular';
	padding: 20px;
	margin-top: 0;
}

.signup-form, .login-form, .new-tour-form, .edit-profile-form, .new-show-form {
	background-color: #f6f2f9;
	border: 2px solid $otra-purple;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
  margin-bottom: 2em;
  margin-top: 2em;
}

.fields {
	background-color: #f7f7f7;	
	margin-top: 10px;
	padding: 10px 0px 10px 0px;
}

.login-form-holder {
	display: flex;
	justify-content: center;
	transform-style: preserve-3d;
}
.login-form {
	align-self: center;
	position: relative;
	top: 50;
	transform: translateY(50%);
}

/*dashboard*/

.performance-tags {
	margin-top: 30px;
}

/*.user-sidebar {
	padding-top: 40px;
	height:100vh;
	font-family: 'modern_sansregular';
	color: $otra-purple;
	background-color: $otra-offwhite;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 1000;
	width: 325px;
	a {
			text-decoration: none;
			color: $otra-purple;
			&:hover {
				color: $otra-lightpurple
			};
	};
}*/

/*.user-bar-pad {
	padding: 15px;
}*/

/*.dashboard-content {
	background-color: $otra-offwhite;
}
*/
/*@media (max-width: 768px) {
	.dashboard-content {
		background-color: $otra-purple;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -40px;
		overflow-y: scroll;
		overflow-x: hidden;
		height: 100vh;
	}
}*/

.flyer {
	border: 3px solid $otra-purple;
	height: 198px;
	width: 100%;
	background-color: $otra-lightpurple;
  overflow: hidden;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.flyer img {
	width: 300px;
}

.img-rounded {
	border: 2px solid $otra-purple;
	border-radius: 50%;
	margin-left: 22px;
	margin-top: 37px;
	height: auto;
	width: 85%;
	padding: 4px;
	background-color: $otra-lightpurple;
	-moz-box-shadow:    inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow:         inset 0 0 3px #000000;
	overflow: hidden;
}

.map {
	margin-top: 30px !important;
	margin-bottom: -30px;
	height: 500px;
}

.shadowbox {
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
}

.card-body {
	border: 1px solid $otra-purple;
	background-color: $otra-lightestpurple;
	color: $otra-purple;
	font-family: 'modern_sansregular';
	padding: 10px;
	margin-top: -10px;
	span {
		text-transform: uppercase;
		font-size: 18px;
	}
	a {
		text-decoration: none;
		color: $otra-purple;
		&:hover {
			color: $otra-lightpurple
		};
	}
}

.login-image {
	height: 500px;
	margin-top: 100px;
}

/* show */

.show-wrapper {
	font-family: 'modern_sansregular';
	color: $otra-purple;
}

.card-tag {
	color: $otra-purple;
	font-family: 'modern_sansregular';
}

/* alert */
.alert-info {
	margin-top: 18px;
  background-color: #dff0d8;
  border-color: rgba(60, 118, 61, 0.23);
  color: #333;
  margin-bottom: 0px;
  border-radius: 0px;
}

.alert-danger {
	margin-top: 18px;
  margin-bottom: 0px;
  border-radius: 0px;
}

/* user profile */
.user-avatar {
	height: 250px;
}
#user {
	.shadowbox {
		box-shadow: none;
	}
	a {
		text-decoration: none;
		color: $otra-purple;
		&:hover {
			color: $otra-lightpurple
		};
	}
	.user-container {
		font-family: 'modern_sansregular';
		width: 300px;
		border: 2px solid $otra-purple;
		h3, h4 {
		 color: $otra-purple;
		}
	}

	.profile-side-bar {
		padding: 10px;
	}

	.font {
		font-family: 'modern_sansregular';
	}
}