<h1>Shows#index</h1>
<p>Find me in app/views/shows/index.html.erb</p>
<% @shows.each do |show| %>
	<h4><%= show.first.venue %> - <%= show.first.show_date %> - <%= show.first.location %> - <%= show.first.id %></h4>
<% end %>