<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<% @match_performances.each do |performance_by_date| %>
				<h3><%= performance_by_date[0] %></h3>
				<div class="row">
					<% performance_by_date[1].each do |one_performance| %>
						<div class="col-sm-6 col-md-4">
							<div class="thumbnail">
								<img src="http://farm4.static.flickr.com/3061/2843390878_33dea8dbd1.jpg", style="height: 200px">
								<div class="caption">
									<h3><%= one_performance.band.name %></h3>
									<h4><%= link_to "view", performance_path(one_performance) %></h4>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>