<div class="welcome text-center"><br><br>
	<img class="logo" alt="Logo" src="/assets/otra-01" /><br>
	<div class="tagline">
		On the road again?
	</div>
	<br>
</div>
<div class="row">
	<div class="info text-center">
		<div class="col-md-12">
			<div class="col-md-8 col-md-offset-2">
				<hr>
				<div class="info-header">
					LET US DO SOME HEAVY LIFTING
				</div>
				<hr>
				<h3>Otra provides a platform for touring bands and independent show hosts to connect efficiently and painlessly</h3>
				<div class="glyphicon glyphicon-chevron-down"></div><br>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="band-how-it-works">
		<div class="col-md-3 col-md-offset-2">
			<img class="logo" alt="LogoBands" src="/assets/otraband-01" /><br>
			<div class="tagline image-labels">BANDS</div>
			<h4><strong><%= link_to 'Sign up', signup_path %></strong> and get started by creating a tour route and connecting with hosts!</h4>
		</div>
		<div class="col-md-3 col-md-offset-2">
			<img class="logo" alt="LogoBands" src="/assets/otrahosts-01" />
			<div class="tagline image-labels">HOSTS</div>
			<h4><strong><%= link_to 'Sign up', signup_path %></strong> and get started by creating some shows and connecting with bands!</h4>
		</div>
	</div>
</div>
