<div class="welcome text-center"><br><br>
	<img class="logo" alt="Logo" src="/assets/otra-01" /><br>
	<div class="tagline">
		On the road again?
	</div>
	<br>
</div>
<div class="row">
	<div class="info text-center">
		<div class="col-md-12">
			<div class="info-header">
				LET US DO SOME HEAVY LIFTING
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="band-how-it-works">
		<div class="steps col-md-4 col-md-offset-1">
			<h1>With Otra it's as easy as</h1>
				<ul>
					<h3><li>Signing up</li>
				 	<li>Creating your route</li>
				 	<li>Searching for shows</li><h3>	
				</ul>
			<h1>And connecting!</h1>
		</div>
		<div class="steps col-md-4 col-md-offset-1">
			<h1>With Otra it's as easy as</h1>
				<ul>
					<h3><li>Signing up</li>
				 	<li>Creating your route</li>
				 	<li>Searching for shows</li><h3>	
				</ul>
			<h1>And connecting!</h1>
		</div>
	</div>
</div>
